<% if (typeof public.work._data !== 'undefined') { %>
<div id="projects" class="island">
  <hr class="separator" />
  <h2 class="beta brand">Selected Work</h2>
  <%
    var count = Object.keys(public.work._data).length
    var c = 'grid--center';
    if (count >= 4) {
      c = 'full-bleed ' + c;
    }
  %>
  <div class="<%- c %>">
    <% for (var slug in public.work._data) {
      var project = public.work._data[slug];
      var permalink = '/work/' + slug;
      if (typeof project.link !== 'undefined') {
        permalink = project.link;
      }
      if (project.featured === 'true') {
      %><div class="grid__item one-whole">
        <div id="project__picks" class="island" href=".">
          <div class="grid">
            <div class="grid__item one-half">
              <h1 class="beta brand">Picks for iPhone <span class="icon"></span></h1>
              <p class="project-info__desc">Find your best photos and get rid of the rest. Top&nbsp;10 at PennApps W15 hackathon. Pic by Trevor&nbsp;Phillippi. Coming soon to the App&nbsp;Store.</p>
            </div><!--
            --><div class="grid__item one-half">
              <video autoplay loop muted>
                <source src="<%- project.preview_video %>" type="video/mp4">
                <img src="<%= project.preview %>" />
              </video>
            </div>
          </div>
        </div>
      </div><%
      } else {
      %><div class="grid__item desk-wide-one-third desk-one-half lap-one-half palm-one-whole">
        <a class="text--left project" href="<%= permalink %>">
          <% if (project.preview_video) { %>
          <video autoplay loop muted>
            <source src="<%- project.preview_video %>" type="video/mp4">
            <img src="<%= project.preview %>" />
          </video>
          <% } else { %>
          <img src="<%= project.preview %>" />
          <% } %>
          <div class="project-info">
            <h1 class="beta brand project-info__title"><%- project.title %></h1>
            <p class="project-info__desc"><%- project.desc %></p>
          </div>
        </a>
      </div><% }; }; %>
  </div>
</div>
<% }; %>

<% if (typeof public.blog._data !== 'undefined') { %>
<div id="blog" class="island">
  <hr class="separator" />
  <h2 class="beta brand">Blog</h2>
  <% for (var slug in public.blog._data){ %>
    <%
      var post = public.blog._data[slug];
      var permalink = "/blog/" + slug;
      if (post.link) {
        permalink = post.link;
      }
    %>
    <a class="post" href="<%= permalink %>">
      <h1 class="post__title"><span><%- post.title %></span></h1>
      <p class="post__desc"><%- post.desc %></p>
      <small class="post__date"><span class="moment" data-time="<%= post.date %>"><%= post.date %></span></small>
    </a>
  <% }; %>
</div>
<% }; %>

<div id="contact" class="island">
  <hr class="separator" />
  <h2 class="beta brand">Contact Me</h2>
  <p>The best way to reach me is by <a href="mailto:theopak@gmail.com">email</a> or a <a href="https://facebook.com/theopak">facebook</a> message.</p>
  <ul class="nav">
    <li><a href="http://twitter.com/theopak"      title="twitter @theopak"      ><span class="entypo-social twitter"></span></a></li>
    <li><a href="https://github.com/theopak"      title="theopak on Github"     ><span class="entypo-social github"></span></a></li>
    <li><a href="https://linkedin.com/in/theopak" title="Theo Pak on LinkedIn"  ><span class="entypo-social linkedin"></span></a></li>
    <li><a href="mailto:mail@theopak.com"         title="email mail@theopak.com"><span class="entypo mail"></span></a></li>
  </ul>
</div>
