<div class="island">

  <div class="article__header">
    <h1 class="alpha article__title"><%= locals.title %> (<span class="moment" data-time="<%= locals.date %>" data-format="YYYY"><%= locals.date %></span>)</h1>
    <div class="article__info"><%= locals.desc %></div>
  </div>

  <div class="article">
    <%- yield %>
  </div>

</div>
